.header-wrapper {
  display: flex;
  justify-content: center;
}

.welcome-header {
  width: 45rem;
  height: 4.5rem;
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Roboto"
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.url-field {
  width: 39rem;
}

.url {
  margin-right: 20px;
}

.home-table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-table {
  width: 60%;
}

.name {
  width: 40%;
}

.select-container {
  margin-right: 10px;
}

.select {
  width: 100px;
}

.table-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}
